$primary-color: #002745;
$secondary-color: #334968;
$tertiary-color: #BEC8CF;
$button-color: #00A3DA;
$background-color: darken($tertiary-color, 60%);
$table-color: $tertiary-color;
$button-hover-color: lighten($primary-color, 10%);
$text-color: $primary-color;
$focus-color: -webkit-focus-ring-color;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: $text-color;
  background-color: $background-color;
}

#app {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

button {
  border-radius: 1rem;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: $button-color;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($button-color, 10%);
  }
}